<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Comprar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets_user/img/favicon.png" rel="icon">
  <link href="assets_user/img/apple-touch-icon.png" rel="app  le-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets_user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets_user/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets_user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets_user/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets_user/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets_user/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="assets_user/img/logo.png" alt="">
        <span class="d-none d-lg-block">TransGlobalExpress</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">                 

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profile_historial">
          <i class="bi bi-journal-text"></i>
          <span>Historial</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/reserva_client">
          <i class="bi bi-calendar3-event"></i>
          <span>Reservar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/comprar_client">
          <i class="bi bi-cash-stack"></i>
          <span>Comprar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Salir</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas sin Pagar</h1>
    </div><!-- End Page Title -->

    <!-- Table with stripped rows -->
    <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">IdReserva</th>
            <th scope="col">Fecha</th>
            <th scope="col">NroAsiento</th>
            <th scope="col">DNI</th>
            <th scope="col">IdBus</th>
            <th scope="col">IdRuta</th>
            <th scope="col">Acción</th>   
          </tr>
        </thead>
        <tbody>
          <% for(i=0; i < reservas.length; i++){ %>
              <tr>
                <th scope="row"><%=i+1 %></th>
                <td><%=reservas[i].IdReserva %></td>
                <td><%=reservas[i].Fecha %></td>
                <td><%=reservas[i].NroAsiento %></td>
                <td><%=reservas[i].IdCliente %></td>
                <td><%=reservas[i].IdBus %></td>
                <td><%=reservas[i].IdRuta %></td>
                <td class="d-flex gap-2">
                  <a href="/venta_add_client/<%= reservas[i].IdReserva %>" class="btn btn-warning">
                    Pagar
                  </a>
                </td>  
              </tr>
          <% } %>
          
        </tbody>
      </table>
      <!-- End Table with stripped rows -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="assets_user/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets_user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets_user/vendor/chart.js/chart.umd.js"></script>
  <script src="assets_user/vendor/echarts/echarts.min.js"></script>
  <script src="assets_user/vendor/quill/quill.min.js"></script>
  <script src="assets_user/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets_user/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets_user/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets_user/js/main.js"></script>

</body>

</html>