<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets_user/img/favicon.png" rel="icon">
  <link href="assets_user/img/apple-touch-icon.png" rel="app  le-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets_user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets_user/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets_user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets_user/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets_user/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets_user/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets_user/css/style.css" rel="stylesheet">

  <!-- Java query-->
  <script src="javascripts/jquery/jquery.min.js"></script>
  <script src="javascripts/jquery/jquery-ui.min.js"></script>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="assets_user/img/logo.png" alt="">
        <span class="d-none d-lg-block">TransGlobalExpress</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">                 

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-house"></i>
          <span>Inicio</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-clipboard-data"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/clientes">
          <i class="bi bi-people"></i>
          <span>Clientes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/rutas">
          <i class="bi bi-sign-turn-slight-right"></i>
          <span>Rutas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/buses">
          <i class="bi bi-bus-front-fill"></i>
          <span>Buses</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/horarios_viaje">
          <i class="bi bi-calendar3"></i>
          <span>Horarios de Viaje</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/reservas">
          <i class="bi bi-journal-text"></i>
          <span>Reservas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/ventas">
          <i class="bi bi-cash"></i>
          <span>Ventas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/login">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Salir</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
            
            <% if(error == 1) {%>
              <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                El valor introducido de DNI, IdBus o IdRuta es incorrecto, Por favor verifique su existencia en la tabla de Clientes, Buses o Rutas. 
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <%} else if(error == 2){%>
                <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                  El registro no se puede eliminar, Por favor verifique la existencia de IdReserva en la tabla de Ventas.
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }%>  

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tabla de Reservas</h5>                
  

                <!-- Button trigger modal -->
                <div class="card-body">            
                  <button id="btn-add" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addModal"><i class="bi bi-plus-square"></i></button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Añadir Reserva</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                        <form action="/reserva_add" method="post">

                          <div class="mb-3">
                            <label for="IdReserva" class="col-form-label">IdReserva:</label>
                            <input name = "IdReserva" type="text" class="form-control" id="IdReserva" required>
                          </div>

                          <div class="mb-3">
                            <label for="Fecha" class="col-form-label">Fecha:</label>
                            <input name = "Fecha" type="date" class="form-control" id="Fecha" required>
                          </div>

                          <div class="mb-3">
                            <label for="NroAsiento" class="col-form-label">NroAsiento:</label>
                            <input name = "NroAsiento" type="number" min="0" class="form-control" id="NroAsiento" required>
                          </div>

                          <div class="mb-3">
                            <label for="IdCliente" class="col-form-label">DNI:</label>
                            <input name = "IdCliente" type="text" class="form-control" id="IdCliente" required>
                          </div>

                          <div class="mb-3">
                            <label for="IdBus" class="col-form-label">IdBus:</label>
                            <input name = "IdBus" type="text" class="form-control" id="IdBus" required>
                          </div>

                          <div class="mb-3">
                            <label for="IdRuta" class="col-form-label">IdRuta:</label>
                            <input name="IdRuta" type="text" class="form-control" id="IdRuta" required>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary">Guardar cambios</button>
                          </div>

                        </form>

                      </div>  
                    </div>
                  </div>
                </div> <!-- end Modal -->

                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">IdReserva</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">NroAsiento</th>
                      <th scope="col">DNI</th>
                      <th scope="col">IdBus</th>
                      <th scope="col">IdRuta</th>
                      <th scope="col">Acción</th>   
                    </tr>
                  </thead>
                  <tbody>
                    <% for(i=0; i < reservas.length; i++){ %>
                        <tr>
                          <th scope="row"><%=i+1 %></th>
                          <td><%=reservas[i].IdReserva %></td>
                          <td><%=reservas[i].Fecha %></td>
                          <td><%=reservas[i].NroAsiento %></td>
                          <td><%=reservas[i].IdCliente %></td>
                          <td><%=reservas[i].IdBus %></td>
                          <td><%=reservas[i].IdRuta %></td>
                          <td class="d-flex gap-2">
                            <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" IdReserva="<%= reservas[i].IdReserva %>" 
                              Fecha="<%=reservas[i].Fecha %>" NroAsiento="<%=reservas[i].NroAsiento %>" IdCliente="<%=reservas[i].IdCliente %>"
                              IdBus="<%=reservas[i].IdBus %>" IdRuta="<%=reservas[i].IdRuta %>">
                              Editar
                            </a>
                            <a href="/eliminar_reserva/<%= reservas[i].IdReserva %>" class="btn btn-danger">
                              Eliminar
                            </a>
                          </td>  
                        </tr>
                    <% } %>
                    
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->


                <!-- Modal para editar -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Editar Reserva</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="/reserva_edit" method="post">

                          <div class="mb-3">
                            <label for="IdReserva" class="col-form-label">IdReserva:</label>
                            <input name = "IdReserva" type="text" class="form-control" id="IdReserva" style="background-color: #f0f0f0" readonly>
                          </div>

                          <div class="mb-3">
                            <label for="Fecha" class="col-form-label">Fecha:</label>
                            <input name = "Fecha" type="date" class="form-control" id="Fecha" >
                          </div>

                          <div class="mb-3">
                            <label for="NroAsiento" class="col-form-label">NroAsiento:</label>
                            <input name = "NroAsiento" type="text" class="form-control" id="NroAsiento" >
                          </div>

                          <div class="mb-3">
                            <label for="IdCliente" class="col-form-label">IdCliente:</label>
                            <input name = "IdCliente" type="text" class="form-control" id="IdCliente">
                          </div>    

                          <div class="mb-3">
                            <label for="IdBus" class="col-form-label">IdBus:</label>
                            <input name = "IdBus" type="text" class="form-control" id="IdBus">
                          </div>    

                          <div class="mb-3">
                            <label for="IdRuta" class="col-form-label">IdRuta:</label>
                            <input name = "IdRuta" type="text" class="form-control" id="IdRuta">
                          </div>    

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary">Guardar cambios</button>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  // Para que nuestro modal sea movible
                  $(document).ready(function() {
                      // Inicializar la funcionalidad de arrastrar para los modales
                      function initializeDraggable() {
                          $('.modal-dialog').draggable({
                              handle: ".modal-header"
                          });
                      }

                      // Restablecer la posición de los modales antes de abrir uno nuevo
                      $('.modal').on('show.bs.modal', function() {
                          $('.modal-dialog').css({
                              top: 0,
                              left: 0
                          });
                      });

                      // Inicializar la funcionalidad de arrastrar cuando la página esté lista
                      initializeDraggable();
                  });
                </script>

                <script>
                  function invertirFecha(fecha) {
                    var partes = fecha.split('-');
                    if (partes.length === 3) {
                      return partes[2] + '-' + partes[1] + '-' + partes[0];
                    } else {
                      return 'Fecha inválida';
                    }
                  }
                  // Para poner los datos al modal
                  var modal = document.getElementById('exampleModal');
                  
                  modal.addEventListener('show.bs.modal', function (event) {
                      var button = event.relatedTarget; // Botón que abrió el modal
                      
                      // Obtener los atributos y asignarlos al valor del campo de entrada en el modal
                      modal.querySelector('.modal-body #IdReserva').value = button.getAttribute('IdReserva');
                      modal.querySelector('.modal-body #Fecha').value = invertirFecha(button.getAttribute('Fecha'));                       
                      modal.querySelector('.modal-body #NroAsiento').value = button.getAttribute('NroAsiento'); 
                      modal.querySelector('.modal-body #IdCliente').value = button.getAttribute('IdCliente');                       
                      modal.querySelector('.modal-body #IdBus').value = button.getAttribute('IdBus');                       
                      modal.querySelector('.modal-body #IdRuta').value = button.getAttribute('IdRuta');                                                                 
                  });
                </script>

                
              </div>
            </div>
  
          </div>
        </div>
      </section>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="assets_user/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets_user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets_user/vendor/chart.js/chart.umd.js"></script>
  <script src="assets_user/vendor/echarts/echarts.min.js"></script>
  <script src="assets_user/vendor/quill/quill.min.js"></script>
  <script src="assets_user/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets_user/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets_user/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets_user/js/main.js"></script>

</body>

</html>